 /* .stat_table {
  
    width: 1500px;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }  */
    
  table {
    border: 2px solid forestgreen;
    width: 400px;
    overflow-y:scroll;
    height:170px;
    display:block;
    margin: 10px;
    text-align: center;
  

  }

  topScorers{
    align-items: center;
  }

  topAssisters{
    align-items: center;
  }

  topKeepers{
    align-items: center;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
    
  }