.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.pages {
  text-align: center;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.fixture_card {
  background-color: lightgray;
  border-radius: 17px;
  text-align: center;

}

nav a {
  text-decoration: none;
}

h3 {
  padding: 15px;
}

.fixture_card p {
  margin: 0px;
  padding-bottom: 5px;
}

.fixtures_list {
  display: table;
  margin: 0px auto;
}

.players-scored {
  display: flex;
}

.left {
  min-width: 135px;
}

ul {
  list-style-type: none;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(37%);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

#player-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.team-view {
  display: flex;
}

.team-view #right-section {
  max-width: 20%
}

.team-view #team-display {
  min-width: 80%;
  padding: 3px;
  margin: 3px;
}

@media screen {
  #team-display {
    background-color: #29A200;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Football_field.svg/1200px-Football_field.svg.png");
    background-size: 700px;
    /* 1024px */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
    text-align: center;

  }

}

#team-display div {
  min-height: 150px;
}

#player-info {
  text-align: center;
}

#header {
  background-color: #5BE7C4;
}

#nav h3 {
  display: inline-block;
  padding: 5px;

}

#user-display h3 {
  display: inline-block;
  padding: 5px;

}

#add-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#user-display {
  text-align: center;
  align-content: center;
}

#player-search-bar{
  border: 2px solid #555;
  border-radius: 4px;
  transition: 0.4s ease-in-out;

}

#keepers {
  display: flex;
  justify-content: center;
  align-items: center;
}

#defenders {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kickoff {
  font-weight: bold;
}


#midfielders {
  display: flex;
  justify-content: center;
  align-items: center;
}

#strikers {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-card {
  align-items: center;
  text-align: center;
}

/* #placeholder{
  display: flex;
  justify-content: center;
  padding: 20px;
} */
#info-button {
  background-color: #e80f244c;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#remove-button {
  background-color: #e80f2500;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}


.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 14px 28px;
  border-radius: 1.5rem;
  max-width: 600px;
  min-width: 300px;

}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.navbar-nav h3 {
  font-size: xx-large;

}

li {
  list-style: none;
  padding-left: 1rem;
}